* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
  }
  
  
  
  .hero {
    width: 100%;
    min-height: 120vh;
    background: linear-gradient(45deg, #a700ff, #4d19db);
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }
  
  .logo {
    width: 150px;
  }
  
  nav ul {
   flex: 1;
   text-align: right;
   display: flex;
   justify-content: flex-end;
  }
  
  nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .btn {
    border: 2px solid #fff;
    padding: 6px 25px;
    border-radius: 30px;
    margin-left: 30px;
  }
  
  .hero h1 {
    margin-top: 100px;
  }
  
  form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-align: left;
  }
  
  form input[type="text"],
  form .diamond-wrapper {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
  }
  
  form input[type="text"] {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }
  
  form .diamond-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .diamond {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
  }
  
  .diamond:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .diamond p {
    margin: 0;
    padding: 5px;
    color: #000;
  }
  
  .diamond img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  .diamond.active {
    background-color: #fefbfe;
  }
  
  .diamond.active p {
    color: #fff;
  }
  
  .diamond-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .diamond.active,
  .diamond.selected {
    background-color: rgba(154, 98, 173, 0.8);
    color: #000;
  }
  
  .diamond.active:hover,
  .diamond.selected:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .login-box {
    background: linear-gradient(45deg, #4f0b74, #501fda);
    padding: 20px;
    padding: 30px;
    border-radius: 30px;
    width: 800px;
    height: 700px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .h1 {
    margin-top: 0;
    text-align: center;
  }
  
  #login_button a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #970ce2;
    color: #ffffff;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  #login_button a:hover {
    background-color: #4d19db;
    color: #fff;
  }
  
  .popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 2;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(250, 250, 250, 0.5);  
  }
  
  .popup-content {
    background-color: #7801f7f3;
    background: linear-gradient(45deg, #970bd3, #501fda);
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    color: #000;
    text-align: center;
    position: relative;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 60%;
  }
  
  .popup.active {
    display: block;
  }
  
  .popup.active .popup-content {
    transform: translateY(0);
    opacity: 1;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #00ccff;
    cursor: pointer;
  }
  
  .popup-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .popup-content p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .popup-mantap {
    background-color: #a700ff;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #00ccff;
    width: 400px;
    height: 220px;
    border-radius: 5px;
    color: #00ccff;
    text-align: center;
    position: relative;
  }
  
  .popup-mantap h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .popup-mantap p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
    color: #00ccff;
    cursor: pointer;
  }
  
  .popup-content #payment-button {
  margin-top: 20px;
  }
  
  .popup-content #payment-button button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ccff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  }
  
  .popup-content #payment-button button:hover {
  background-color: #08869f;
  }
  
  #payment-method {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  }
  
  #payment-method option {
  padding: 8px;
  }
  
  #payment-method option:checked {
  background-color: #f0f0f0;
  }
  
  #proses-popup button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ccff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer; 
  }
  
  #proses-popup button:hover {
  background-color: #08869f;
  }
  
  #proses-popup button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ccff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 25px; 
  }
  
  #proses-popup button:hover {
  background-color: #08869f;
  }
  
  .back-to-menu-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00ccff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 20px;
  }
  
  .back-to-menu-button:hover {
  background-color: #08869f;
  }
  
  .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .popup-content img {
  margin-bottom: 20px;
  }

  .triangle1{
    position: absolute;
    left: 50%;
    top: -180px;
    transform: translateX(-50%);
    width: 400px;
    z-index: -1;
    opacity: 0.7;
}

.triangle2{
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    z-index: -1;
    opacity: 0.7;
}

.circle{
    position: absolute;
    right: -100px;
    bottom: -300px;
    width: 500px;
    z-index: -1;
    opacity: 0.5;
}